/* App.css */
.App {
  text-align: center;
  background-color: #121212;
  min-height: 100vh;
  padding-top: 40px;
}

.container-box {
  background-color: #1e1e1e !important;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px #0ff;
  
}

.task-input {
  background-color: #1e1e1e;
  color: #ffffff;
  outline: none;
  border: none;
}

.task-input::placeholder {
  color: #888;
}

.add-btn {
  background-color: #00c853;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
}

.add-btn:hover {
  background-color: #00e676;
}

.trash-icon {
  color: #ff5252;
  font-size: 1.4rem;
  cursor: pointer;
}

.bi-pencil-square{
  color: rgb(125, 55, 229);
  cursor: pointer;
}